<div class="content">
  <div class="content__title">
    <h1>{{title}}</h1>
  </div>
  <div class="content__stack">
    <h2>Stack</h2>
    <p>{{stack}}</p>
  </div>
  <div class="content__func">
    <h3>Functional</h3>
    <p>{{functional}}</p>
  </div>
  <div class="content__btns">
    <div class="content__btns-btn">
      <a mat-flat-button color="accent" href="{{demo}}" target="_blank">Demo</a>
    </div>
    <div class="content__btns-btn">
      <a mat-flat-button color="accent" href="{{code}}" target="_blank">Source Code</a>
    </div>
  </div>
</div>